# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf

[{nuget.config,packages.config,*.proj}]
indent_style = space
indent_size = 2
